html {
  padding: 0.5%;
  background-image: url("../img/background.png");
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: "buena-park"; }

p {
  font-family: "leitura-news"; }

.related-stories {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/background.png");
  padding: 0.5rem;
  border-top: 0.2rem black solid; }

#masthead {
  border: 0.2rem black solid;
  margin-bottom: 0.5rem; }
  #masthead img {
    width: 100%; }

#date {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../img/background.png");
  color: #f1e9e0;
  padding: 0.6rem;
  padding-top: 0.9rem;
  margin: auto auto;
  border: 0.5rem solid #f1e9e0; }

#date-wrapper {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  border: 0.2rem solid black;
  padding: 0.5; }

.main {
  width: 55%;
  margin: 1rem;
  margin-top: 2rem;
  padding: 1rem;
  display: inline-block;
  float: left;
  background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url("../img/background.png"); }
  .main #frame {
    z-index: 0;
    width: 100%;
    position: relative; }
    .main #frame img {
      width: 100%;
      position: absolute; }
  .main #video {
    z-index: 100;
    position: absolute;
    width: 62%;
    margin: 14% auto 0;
    left: 0;
    right: 0; }
  .main #main-text {
    margin-top: 80%; }
    .main #main-text p {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2; }

.column {
  width: 30%;
  display: inline-block;
  margin: 1rem;
  margin-top: 2rem;
  float: right;
  padding: 1rem;
  background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url("../img/background.png"); }

#secondary-one {
  float: right;
  padding: 1rem; }

#secondary-two {
  float: right;
  padding: 1rem; }

.secondary {
  display: inline-block;
  margin: 1rem;
  padding: 0.5rem;
  background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url("../img/background.png"); }
  .secondary p {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2; }

@media screen and (max-width: 1310px) {
  #secondary-one {
    width: 30%; }
    #secondary-one p {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1; } }
@media screen and (min-width: 980px) {
  #secondary-one {
    width: 35%; }

  #secondary-two {
    width: 55%; } }
@media screen and (max-width: 980px) {
  .main, .column, #secondary-one, #secondary-two {
    width: 90%; } }
