body {
	padding: 0.5%;
	background-image: url("../img/background.png")
}

h1, h3 {
	text-align: center;
	font-family: "buena-park";
}

p {
	font-family: "capitolium-news-2";
}

#masthead {
	img {
		width: 100%;
	}
	border: 0.2rem black solid;
	margin-bottom: 0.5rem;
}

#one {
	width: 60%;
	margin: 1rem;
	padding: 0.5rem;
	display: inline-block;
	background: linear-gradient( rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) ), url("../img/background.png");

	#video {
		z-index: 100;
		position: absolute;
		margin-top: -29.5rem;
		margin-left: 8rem;
	}

	#frame {
		img {
		height: 580px;
		width: 740px;
	}
		z-index: 0;
		position: relative;
		margin-left: 2rem;
	}

	#one-text {
		p {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		}
	}
}

#two {
	width: 35%;
	display: inline-block;
	margin: 1rem;
	padding: 0.5rem;
	float: right;
	background: linear-gradient( rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) ), url("../img/background.png");
}

#three, #four {
	width: 30%;
	display: inline-block;
	margin: 1rem;
	padding: 0.5rem;
	background: linear-gradient( rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) ), url("../img/background.png");
	p {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}